@model IEnumerable<WebUi.Models.RequestStateViewModel>

@{
	Layout = null;
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UrlText)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UrlTitle)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UrlStatus)
			</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.UrlText)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UrlTitle)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UrlStatus)
			</td>

		</tr>
}
	</tbody>
</table>
